h1{
    color:rgb(255, 0, 0);
}
h4{
    color: rgb(51, 114, 233);
}
body{
background-color: indigo;
    background-image: url(https://wallpapercave.com/wp/ZtY0Ilg.jpg);
}
h3{
    color: royalblue;
}
div{
    color: yellowgreen;
}
