h1{
    color:rgb(255, 0, 0);
}
h4{
    color: rgb(51, 114, 233);
}
body{
     background-image: url(https://img3.goodfon.com/original/1366x768/b/78/skripka-smychek-violin-ch-b.jpg);
}
h3{
    color: royalblue;
}
div{
    color: yellowgreen;
}
