h1{
    color:rgb(255, 0, 0);
}
h4{
    
    font-size: 25px;
    color: rgb(15, 55, 82);
    text-align: center;
    
}
body{
background-color: indigo;
    background-image: url(https://wallpapercave.com/wp/ZtY0Ilg.jpg);
    
}
h3{
    font-size: 23px;
}
h3:hover{
    color: rgb(12, 59, 59);
    border: lightskyblue;
    font-size: 25px;
   list-style-position: initial;
   display:inline-block
   
}
div{
    font-size: 20px;
    color: rgb(0, 0, 0);
}
